*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    text-shadow: black;
}
body{
    padding: 10vh;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4),rgba(4, 9, 30, 0.3)),url(milk-2474993.jpg);
}
.header{
    min-height: 80vh;
    width: 100%;
}

nav{
    display: flex;
    padding: 2vh 2vh;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 4px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    padding: 2vh;
}

.nav-links ul li::after{
    content: '';
    width: 00%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.25s;
}

.nav-links ul li:hover::after{
    width: 100%;
    background: #00fbff;
}

#home{
    padding:-100%,100%;
    align-items: center;
    color: #fff;
}



