*{
    padding: 0;
    margin: 0;
}

html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

div{
    text-decoration: none;
}

body {
    background: lightblue url(image/library-1834222.jpg) no-repeat fixed center ;
    background-size: cover;
    
}

header{
    flex:1;
}

.top{ 
    flex: 1;
    display: flex;
    padding-top: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: space-between;
    align-items: center;
	object-fit: cover;
}

.item1 {
    margin-left: 8vh;
    padding: 2vh;
}
.item3{
    padding: 2vh;
    margin-right: 8vh;
}
.item1 img{
    max-width: 15vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 2vh;
}
.item3 img{
    max-width: 15vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 2vh;
}
.item2{
    /* PES’s Modern College of Engineering, Pune BOOK MANAGEMENT SYSTEM */
    float: center;
    text-align: center; 
    font-family: 'Fredoka One', cursive;
}


#name1{
    font-weight:bolder;
    word-spacing: .3vh;
    justify-content: center;
    color: rgb(255, 255, 200);
    font-size: 5vh;
    text-shadow: 22vh 22vh 32vh rgb(0, 0, 0);
}
#name2{
    font-weight:bolder;
    word-spacing: .3vh;
    justify-content: center;
    color: rgb(255, 255, 200);
    font-size: 5vh;
    text-shadow: 2vh 2vh 3vh rgb(0, 0, 0);
} 

.nav_bar {
    padding: 15px;
    padding-left: 10vh;
    border-radius: 10vh;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    

}

.navi1{
    float: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 3vh;
    font-weight: bold;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-right: 4vh;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(240, 255, 112, .8);
    border-radius: 3vh;
    /* width: 1vh;*/
}

.navi2{
    float: right;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 3vh;
    font-weight: bold;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-right: 4vh;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(240, 255, 112, .8);
    border-radius: 3vh;
   
}

.navi2:hover{
   

    border: 2px solid black;
    color: rgb(0, 0, 0);

    background-image: rgba(240, 255, 112,1);

}

.nava{
    flex:1;
}

.navi{
    display: inline-block;
    text-decoration: none;
}

#year{
    padding: 1vh 6vh 2vh 1vh;
}



.year2 {
    padding-top: 10vh;
    display: flex; 
    justify-content:space-around;
    align-items: center;
    
    
}

.year1{
    font-weight:bold;
    letter-spacing: .1;
     text-align: center; 
    
    
    width: 45vh;
    height: 25vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1vh solid rgba( 255, 255, 255, 0.18 );
    transition: .5s;
}



.branch{
    margin: 1vh;
    padding-left: 1vh;
    display: inline-block;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    display: none;
    padding-top: 1vh;
}

.branch3{
    margin: 1vh;
    padding-left: 1vh;
    display: inline-block;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    display: none;
    padding-top: 0vh;

}


.year1:hover{
    transform: scale(1.3);
    z-index: 1;
    font-size:.8em;
}

.year1:hover .branch{
 
    display: block;
    display: flex;
}
.year1:hover .branch3{

    display: block;
    display: flex;
}

.year2 .year1 h2{
    font-weight: bold;
    font-size:2em;

}

/* 
@media only screen and (min-width: 768px) {

	Services Section
	#year .year2 .year1 {
		flex-basis: 45%;
		margin: 2.5%;
	}
}

@media only screen and (min-width: 1200px) {
	
	#year .year2 .year1 {
		flex-basis: 22%;
		margin: 1.5%;
	}
} */

