*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: snow;
    width: 100%;
    font-weight: 900;
}
body{
    background-image: linear-gradient(to bottom, #0064f5, #124ecb, #1139a2, #0a257c, #001358);
    height: 100vh;
    text-align: center;
}
.header{
    font-size: 10vh;
    height: 20vh;
}
.winner{
    font-size: 8vh;
    height: 20vh;
}
.img{
    display: flex;
    justify-content: center;
}
.player1{
    height: 40vh;
    width: 40vh;
}
.player2{
    height: 40vh;
    width: 40vh;
}
button{
    width: 30vh;
    height: 10vh;
    color: black;
    font-size: 3vh;
    margin: 2vh;
}
button:hover{
    cursor: pointer;
}