*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
    text-align: center;
} 
body{
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgb(31, 192, 255),rgb(255, 153, 170));
}
h1{
    width: auto;
    height: 100%;
    margin-top: 5%;
    color: black;
    text-shadow: 1px 1px rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
.container{
    width: auto;
    height: auto;
    margin-top: 1%;
}
#form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    border-radius: 50px;
    border: 2px;
    margin: auto;
    padding: auto;
    justify-content: center;
}
#new{
    background-color: rgb(255, 198, 208);
    height: auto;
    padding: 5px;
    width: 200px;
    font-size: 3vh;
}
#new:hover{
    background-color: rgba(255, 230, 235);
}
#add,#name{
    width: 20px;
    height: 20px;
}
.list{
    padding: 0;
    margin: 0;
}
#tasks,nav{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
    padding:  0 20px;
}
#task-name{
    width: auto;
    padding: 1vh;
    background-color: rgb(255, 255, 255,0.8);
    border: 1px solid;
}
#delete-task{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255,0.8);
}
#delete-task:hover,#task-name:hover{
    background-color: rgb(255, 255, 255);
}
#Addbutton{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 7vh;
}
#Addbutton input{
    background: url(ok.png) no-repeat;
    height: 7vh;
    width: 5vh;
    border: none;
}

#task{
    margin-top: 2vh;
}
#task-name{
    width: 200px;
}
#check{
    height:50px;
    width: 50px;
    margin: 0;
    padding: 0;
}
input{
    margin: 0;
    padding: 0;
}