*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
    text-align: center;
} 
body{
    max-width: 70vh;
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgb(31, 192, 255),rgb(255, 153, 170));
}
h1{
    width: 60vh;
    height: 100%;
    margin-top: 5%;
    color: black;
    text-shadow: 1px 1px rgb(255, 255, 255);
}
.container{
    width: 60vh;
    height: 100%;
    margin-top: 1%;
}
#form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vh;
    border-radius: 50px;
    border: 2px;
    margin: auto;
    padding: auto;
}
#new{
    background-color: rgb(255, 198, 208);
    height: 7vh;
    padding: 1%;
    width: 60vh;
    font-size: 3vh;
}
#new:hover{
    background-color: rgba(255, 230, 235);
}
#add,#name{
    width: 10vh;
    height: 7vh;
}
.list{
    padding: 0;
    margin: 0;
}
#tasks,nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    line-break: auto;
    width: 70vh;
    height: 5vh;
    font-size: 3vh;
    margin-top: 14px;
}
#task-name{
    width: 65vh;
    padding: 1vh;
    background-color: rgb(255, 255, 255,0.8);
    border: 1px solid;
}
#delete-task{
    width: 5vh;
    background-color: rgb(255, 255, 255,0.8);
}
#delete-task:hover,#task-name:hover{
    background-color: rgb(255, 255, 255);
}
#Addbutton{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 7vh;
}
#Addbutton input{
    background: url(ok.png) no-repeat;
    height: 7vh;
    width: 5vh;
    border: none;
}
#h{
    font-size: 3rem;
}
#task{
    margin-top: 5vh;
}
#task-name{
    width: 58vh;
}
#check{
    height: 7vh;
    width: 7vh;
    margin: 0;
    padding: 0;
}
input{
    margin: 0;
    padding: 0;
}